//Before working through SASS, don't forget to add this line to terminal:
// sass --watch sass/main.scss:css/main.css --style compressed

//IMPORT MODULES
@import 'modules/_vars';
@import 'modules/_mixins';
@import 'modules/_joanna';

body {overflow-x: hidden;}

#aboutstart
{
    background-color: blue;
    height: 400px;
}

#fact1all
{
    
    margin-top: 100px;
    margin-bottom: 100px;
}

#fact2all
{
    
    margin-top: 100px;
    margin-bottom: 100px;
}

#fact3all
{
    
    margin-top: 100px;
    margin-bottom: 100px;
}

#fact4all
{

    margin-top: 100px;
    margin-bottom: 100px;
}

.factleft
{
    float: left;
}

.iconright
{
    float: right;
}

.factright
{
    float: right;
}

.iconleft
{
    float: left;
}

#about_leftside
{
    -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
    background-color: red;
    height: 400px;
}

#fact1
{
    background-color: #4dc4d2;
    text-align: center;
}


#image1
{
    background-image: url(../images/leaf.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    height: 350px;
}

#fact2
{
    background-color: #f05d32;
    text-align: center;
    
}

#image2
{
    
    text-align: center;
    height: 350px;
    background-image: url(../images/cntower.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#fact3
{
    background-color: #033750;
    text-align: center;
}

#image3
{
    background-image: url(../images/camping.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    height: 350px;
}

#fact4
{
    background-color: #4dc4d2;
    text-align: center;
}

#image4
{
    background-color: purple;
    text-align: center;
    height: 350px;
}

#footerlogo
{
    height: 50px;
    width: 50px;
    float: left;
}

#footernav
{
    float: right;
}

#footernav li
{
    display: inline;
}

.footercon
{
    position: relative;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }